@page "/" //"/Index-Table"
@using AzureVMMonitor.App.Services
@using AzureVMMonitor.App.Models

@inject IAzVmService AzVmService

<PageTitle>Index</PageTitle>

<h1>Virtual Machines</h1>

@if (_vmStatus == null)
{
    <p>Loading...</p>
}
else
{
    <MudDataGrid T="VmStatus" Items="@_vmStatus" Filterable="true" FilterMode="@DataGridFilterMode.ColumnFilterMenu">
        <Columns>
            @* <PropertyColumn Property="x => (_count)" Title="#" Filterable="false" /> *@
            <PropertyColumn Property="x => x.VirtualMachine" Filterable="true" CellStyleFunc="@_cellStyleFunc"></PropertyColumn>
            <PropertyColumn Property="x => x.ResourceGroup" Title="Resource Group" Filterable="true">
                <FilterTemplate>
                    <MudStack Spacing="0">
                        <MudCheckBox T="bool" Label="Select All" Size="@Size.Small" Checked="@_selectAllRG" CheckedChanged="@SelectAll" />
                        <MudStack Spacing="0" Style="overflow-y:auto;max-height:250px">
                            @foreach (var item in _uniqueResourceGroups)
                            {
                                <MudCheckBox T="bool" Label="@($"{item}")" Size="@Size.Small" Checked="@(_selectedResourceGroups.Contains(item))"
                                             CheckedChanged="@((value) => SelectedChanged(value, item))" />
                            }
                        </MudStack>
                        <MudStack Row="true">
                            <MudButton OnClick="@(() => ClearFilterAsync(context))">Clear</MudButton>
                            <MudButton Color="@Color.Primary" OnClick="@(() => ApplyFilterAsync(context))">Filter</MudButton>
                        </MudStack>
                    </MudStack>
                </FilterTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.OsName" Filterable="true"></PropertyColumn>
            <PropertyColumn Property="x => x.OsVersion" Filterable="true"></PropertyColumn>
            <PropertyColumn Property="x => x.PowerState" Filterable="true" CellStyleFunc="@_cellStyleFunc">
                <FilterTemplate>
                    <MudStack Spacing="0">
                        <MudCheckBox T="bool" Label="Select All" Size="@Size.Small" Checked="@_selectAllPS" CheckedChanged="@SelectAllPS" />
                        <MudStack Spacing="0" Style="overflow-y:auto;max-height:250px">
                            @foreach (var item in _uniquePowerStates)
                            {
                                <MudCheckBox T="bool" Label="@($"{item}")" Size="@Size.Small" Checked="@(_selectedPowerStates.Contains(item))"
                                             CheckedChanged="@((value) => SelectedPSChanged(value, item))" />
                            }
                        </MudStack>
                        <MudStack Row="true">
                            <MudButton OnClick="@(() => ClearFilterAsync(context))">Clear</MudButton>
                            <MudButton Color="@Color.Primary" OnClick="@(() => ApplyFilterAsync(context))">Filter</MudButton>
                        </MudStack>
                    </MudStack>
                </FilterTemplate>
            </PropertyColumn>
        </Columns>
        <PagerContent>
            <MudDataGridPager T="VmStatus" />
        </PagerContent>
    </MudDataGrid>
}
@code {
    string _icon = Icons.Material.Outlined.FilterAlt;
    private IEnumerable<VmStatus>? _vmStatus;
    private int _count = 1;
    bool _filterOpen = true;
    bool _selectAllRG = true;
    bool _selectAllPS = true;
    private IEnumerable<string>? _uniqueResourceGroups;
    private IEnumerable<string>? _uniquePowerStates;
    HashSet<string> _selectedResourceGroups = new();
    HashSet<string> _selectedPowerStates = new();
    HashSet<VmStatus> _filterItems = new();
    FilterDefinition<VmStatus>? _filterDefinition;
    
    private Func<VmStatus, string> _cellStyleFunc => x =>
    {
        string style = "";

        switch (x.PowerState)
        {
            case "VM running":
                style += "color: green;";
                break;
                
            case "VM stopped":
                style += "color: red;";
                break;
                
            case "VM deallocated":
                style += "color: darkgray;";
                break;
        }

        return style;
    };
    
    void OpenFilter()
    {
        _filterOpen = true;
    }
    
    private void SelectAll(bool value)
    {
        _selectAllRG = value;

        if (value)
        {
            _selectedResourceGroups = _uniqueResourceGroups.ToHashSet();
        }
        else
        {
            _selectedResourceGroups.Clear();
        }
    }
    
    private void SelectedChanged(bool value, string item)
    {
        if (value)
            _selectedResourceGroups.Add(item);
        else
            _selectedResourceGroups.Remove(item);

        if (_selectedResourceGroups.Count == _vmStatus.Count())
            _selectAllRG = true;
        else
            _selectAllRG = false;
    }

    private async Task ClearFilterAsync(FilterContext<VmStatus> context)
    {
        // _selectedResourceGroups = _uniqueResourceGroups!.ToHashSet();
        _filterItems = _vmStatus!.ToHashSet();
        await context.Actions.ClearFilterAsync(_filterDefinition!);
    }

    private async Task ApplyFilterAsync(FilterContext<VmStatus> context)
    {
        _filterItems = _vmStatus!.ToHashSet();
        await context.Actions.ApplyFilterAsync(_filterDefinition!);
    }
    
    protected override async Task OnInitializedAsync()
    {
        _vmStatus = await AzVmService.FetchStatus();
        if (_vmStatus != null)
        {
            _uniqueResourceGroups = _vmStatus.Select(x => x.ResourceGroup).Distinct().ToList();
            _selectedResourceGroups = _uniqueResourceGroups.ToHashSet();
            _uniquePowerStates = _vmStatus.Select(x => x.PowerState).Distinct().ToList();
            _selectedPowerStates = _uniquePowerStates.ToHashSet();
            
            _filterItems = _vmStatus.ToHashSet();
        }
        _filterDefinition = new FilterDefinition<VmStatus>
        {
            FilterFunction = x => (_selectedResourceGroups.Contains(x.ResourceGroup) && _selectedPowerStates.Contains(x.PowerState))
        };
    }

    private Task SelectedPSChanged(bool? value, string item)
    {
        if (value != null && value.Value)
            _selectedPowerStates.Add(item);
        else
            _selectedPowerStates.Remove(item);

        if (_selectedPowerStates.Count == _uniquePowerStates!.Count())
            _selectAllPS = true;
        else
            _selectAllPS = false;
        return Task.CompletedTask;
    }

    private void SelectAllPS(bool value)
    {
        _selectAllPS = value;

        if (value)
        {
            _selectedPowerStates = _uniquePowerStates!.ToHashSet();
        }
        else
        {
            _selectedPowerStates.Clear();
        }    
    }

}